!!!
%html
  %head
    %title AngularApp
    = stylesheet_link_tag  "application", :media => "all"
    = stylesheet_link_tag  "angular_blog/application", :media => "all"
    = csrf_meta_tags
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"
    = yield :styles
        
  %body
    = yield
    = javascript_include_tag "angular_blog/application"
    = yield :javascripts